body,
html,
main {
  margin: 0%;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #777;
  height: 100%;
}

.content {
  color: #777;
  background-color: #fff;
  text-align: justify;
  padding: 50px 80px;
}

h3 {
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

/* Efeito Parallax */
.box1,
.box2,
.box3,
.box4 {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}

.box1 {
  background-image: url(../images/imagem1.jpg);
}
.box2 {
  background-image: url(../images/imagem2.jpg);
}
.box3 {
  background-image: url(../images/imagem3.jpg);
}
.box4 {
  background-image: url(../images/imagem4.jpg);
}

.content-title {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;
}

.content-title span.title {
  color: #fff;
  background-color: #111;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

a {
  display: block;
  margin-top: 30px;
  padding: 8px 20px;
  width: 120px;
  text-align: center;
  position: relative;
  left: 44%;
  background-color: #daa520;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  max-width: 100%;
  border-bottom: #a57a2a 5px inset;
  transition: 0.5s;
}

a:hover {
  letter-spacing: 2px;
  background-color: #d1b203;
  border-bottom: #a57a2a 5px inset;
}

.box2 a {
  background-color: #5b7ee7;
  border-bottom: #2152e4 5px inset;
}
.box2 a:hover {
  background-color: #2152e4;
  border-bottom: 5px inset #0940e4;
}

.box3 a {
  background-color: #fa8072;
  border-bottom: #ff5d4b 5px inset;
}
.box3 a:hover {
  background-color: #ffb6c1;
  border-bottom: 5px inset #f08080;
}

.box4 a {
  background-color: #3cb371;
  border-bottom: #0b793c 5px inset;
}
.box4 a:hover {
  background-color: #49d149;
  border-bottom: 5px inset #14a314;
}
